<section id="market">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h4>ACCIONES MÁS INTERESANTES</h4>
                        <div class="line-dec"></div>
                        <p>Aquí encontrarás las inversiones con máximo rendimiento en las últimas horas</p>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Mostrar todo</span></li>
                                <li class="filter" data-filter="crypto"><span>Cryptocurrency</span></li>
                                <li class="filter" data-filter="security"><span>SecurityTokens</span></li>
                                <li class="filter" data-filter="action"><span>Acciones</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 project-item mix crypto">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../../../../assets/img/pruebaCrip.png" data-lightbox="image-1"><img src="../../../../assets/img/pruebaCrip.png"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix security">
                                  <div class="thumb">
                                    <div class="image">
                                            <a href="../../../../assets/img/pruebaSecurity.png" data-lightbox="image-1"><img src="../../../../assets/img/pruebaSecurity.png"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../../../../assets/img/portfolio_big_item_03.jpg" data-lightbox="image-1"><img src="../../../../assets/img/portfolio_item_03.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="../../../../assets/img/portfolio_big_item_04.jpg" data-lightbox="image-1"><img src="../../../../assets/img/blog_item_04.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../../../../assets/img/portfolio_big_item_05.jpg" data-lightbox="image-1"><img src="../../../../assets/img/portfolio_item_05.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>