<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../../../assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>CONTROL</h4>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">IR</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../../../assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>ESTADÍSTICAS PROPIAS</h4>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">IR</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../../../assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>MERCADO EN VIVO</h4>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">IR</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../../../assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>MOTIVACIÓN</h4>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">IR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>