<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>CONTROL</h4>
                    <div class="icon">
                        <img src="../../../../assets/img/tablet.png" alt="">
                    </div>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>PROGRESO</h4>
                    <div class="icon">
                        <img src="../../../../assets/img/progress.png" alt="">
                    </div>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>GANANCIAS</h4>
                    <div class="icon">
                        <img src="../../../../assets/img/gain.png" alt="">
                    </div>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>MOTIVACIÓN</h4>
                    <div class="icon">
                        <img src="../../../../assets/img/confidence.png" alt="">
                    </div>
                    <div class="line-dec"></div>
                    <div class="primary-blue-button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>