<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Cartera</h4>
                <form #walletForm="ngForm" (ngSubmit)="addWallet(walletForm)">
                    <input type="hidden" name="_id" [(ngModel)]="walletService.form_wallet._id">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de la Cartera"
                        name="nombre"
                        [ngModel]="walletService.form_wallet.nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Moneda"
                        name="moneda"
                        [ngModel]="walletService.form_wallet.moneda">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Direccion"
                        name="direccion"
                        [ngModel]="walletService.form_wallet.direccion">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Saldo"
                        name="saldo"
                        [ngModel]="walletService.form_wallet.saldo">
                    </div>

                    <button class="btn btn-secondary mr-5" (click)="resetForm(walletForm)">
                        Vaciar
                    </button>
                    <button class="btn btn-primary">
                        Guardar
                    </button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Moneda</th>
                    <th>Direccion</th>
                    <th>Saldo</th>
                    <th>Valor Inicial</th>
                    <th>Valor Actual</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let wallet of walletService.wallet">
                    <td>{{ wallet.nombre }}</td>
                    <td>{{ wallet.moneda }}</td>
                    <td>{{ wallet.direccion }}</td>
                    <td>{{ wallet.saldo }}</td>
                    <td>{{ wallet.valor_inicial }}</td>
                    <td>{{ wallet.valor_actual }}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editWallet(wallet)"> 
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteWallet(wallet._id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>