<div class="row">
    <div class="col-md-4">
        <h1>Cartera</h1>
    </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Moneda</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let wallet of walletService.wallet">
                    <td>{{ wallet.nombre }}</td>
                    <td>{{ wallet.monenda }}</td>
                </tr> -->
            </tbody>
        </table>
    </div>